.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sidebar a {
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
    border: 1px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
	text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70px;
    margin: 0px;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 6px;
    height: 36px;
}

.sidebar a:hover {
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background-color:#019ad2;
    text-decoration: none;
}
.sidebar a:active {
    position: relative;
    text-decoration: none;
	top: 1px;
}

.sidebar a:focus {
    text-decoration: none;
}

.sidebar .is-active {
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
    color: #e2ff05;
}