.javakLotsInsidePartyAccount {
    margin: -1px;
    box-shadow: none;
}

.javakLotsInsidePartyAccount thead {
    display: none;
}

.javakLotsInsidePartyAccount .date {
    width: 1px;
}

.javakLotsInsidePartyAccount .receiptNumber {
    min-width: 55px;
    width: 55px;
}

.javakLotsInsidePartyAccount .packet {
    min-width: 55px;
    width: 55px;
}