.partyName {
    text-transform: capitalize;
    text-align: center;
    margin-top: 0px;
}

.tableFooter {
    font-weight: bold !important;
}

.p-0 {
    padding: 0px !important;
}

.table-head {
    display: flex;
    justify-content: flex-start;
}

.table-head .table-head-inner {
    padding: 2px;
}

.partyAccount td {
    vertical-align: middle !important;
}

.totalJavakPacket {
    text-align: center;
    padding: 10px !important;
}